<!DOCTYPE html>
<html>
<head>


    <title>Cake Factory</title>


</head>
<body>

<h1>Cake Factory</h1>

<div class="starter-template">

    {{#cakes}}
    <H1>{{id}}</H1>
    <H1>{{title}}</H1>
    <H1>{{price}}</H1>
    <H1>************</H1>
    {{/cakes}}

</div>

</body>
</html>


